@import url("https://fonts.cdnfonts.com/css/switzer");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  box-sizing: border-box;
  height: 100vh;
  font-family: "Switzer", sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 98.1%;
    --foreground: 213.6 100% 4.9%;

    --primary: 234, 32%, 47%;
    --primary-foreground: 0 0% 100%;

    --card: 216 100% 98.04%;
    --card-foreground: 213.6 100% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 213.6 100% 4.9%;

    --secondary: 41, 100%, 59%;
    --secondary-foreground: 216 100% 0.98%;

    --muted: 0, 0%, 97%;
    --muted-foreground: 0, 0%, 58%;

    --accent: 213.6 100% 95.1%;
    --accent-foreground: 214.12 100% 50%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --lemon: 114, 69%, 86%;
    --cgray: 0, 0%, 92.4%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 214.12 100% 50%;

    --radius: 15px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.accordion-icon {
  transition: color 0.5s ease;
}

.accordion-item.active {
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.07);
}

.accordion-item.active .accordion-icon {
  background-color: #8ba4fd;
  color: white;
}

.accordion-item.active .accordion-content {
  height: auto;
  padding-top: 0.5rem;
}

.accordion-content {
  transition: height 2s ease-in-out;
}

.scroll-hidden {
  scrollbar-width: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.navbar {
  top: 0;
  transition: top 1s ease-in-out;
}

.navbar.hidden {
  top: -100px; /* Adjust based on your navbar height */
}

.navbar.active {
  top: 0;
}

/* .footer__links {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  list-style: none;
} */

/* .footer__links li > a {
  display: block;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1rem;
  padding: 5px 0px;
  color: #000;
} */

.footer__links li a,
.footer__links li a:after,
.footer__links li a:before {
  transition: all 0.5s;
}
.footer__links li > a {
  position: relative;
}
.footer__links li > a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 120%;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  border: 1px solid;

  background-image: linear-gradient(90deg, #ffffff 0%, #202229 99.01%);

  height: 2.6px;
}

.footer__links li > a:hover:after {
  width: 100%;
}
